html{
	scroll-behavior: smooth;
	transition: 1s;
}
h1 {
  font-family: 'Volkhov';
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}
h2{
	font-family: 'IM Fell Double Pica SC';
	margin: revert;
	font-weight: bold;

}
h5{
	font-family: 'IM Fell Double Pica SC';
	font-weight: bold;
}
body {
    font-family: 'GFS Didot';
    font-size: 18px;
    overflow-x: hidden;
  
}
a{
	font-family: 'Cormorant Garamond';
	font-size: 20px;
	font-style: oblique;
	/*color:#000000;*/
	text-transform: uppercase;

}
body{
    background-color: #cbf6db;
    background-image: url("https://i.pinimg.com/originals/e2/71/fd/e271fda72f1e158b5f0569cc72d36d7f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-caption h4 p {
    color:red !important;
}
.social-links{
	color: #000000;
}
#social-container{
	margin:0 45%;

}
.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
float: right;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}
.navbar-light {
	display: inline-block;
	width: 100%;
}

/* Change the link color on hover */
ul li a:hover {
  background-color:#FFB6C1;
  /*color: white;*/
}


